* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Inter;
}
/*----------- Typography---------- */
h2 {
  margin-top: 25px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  padding: 5px;
}
.rightSection h2 {
  border-bottom: 2px solid black;
}
body {
  display: flex;
  overflow-y: scroll;
  width: 100%;
}
h4 {
  margin: 10px 0px 5px 0px ;
}

/*----------- leftSection -------*/
.leftSection {
  background-color: rgb(51, 59, 77);
  padding: 30px 24px 60px 30px;
  color: white;
  width: 40%;
}
i {
  color: black;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
  background-color: white;
}
.leftSection img {
  height: 175px;
  width: 175px;
  border-radius: 50%;
}
.leftSection p i {
  margin-right: 10px;
}
.education p {
  margin-bottom: 10px;
}
/* --------rightSection----------- */
.rightSection {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 30px 25px;
}
.training {
  list-style-type: lop;
}
.projects {
}
